<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yaohui.caij.dao.TaskDetailMapper">
  <resultMap id="BaseResultMap" type="com.yaohui.caij.dao.entity.TaskDetail">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="task_id" jdbcType="INTEGER" property="taskId" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="result_size" jdbcType="INTEGER" property="resultSize" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
  </resultMap>
  <insert id="insertBatchSelective" parameterType="java.util.List">
    insert into task_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="list[0].id!=null">
        id,
      </if>
      <if test="list[0].taskId!=null">
        task_id,
      </if>
      <if test="list[0].url!=null">
        url,
      </if>
      <if test="list[0].resultSize!=null">
        result_size,
      </if>
      <if test="list[0].startTime!=null">
        start_time,
      </if>
      <if test="list[0].endTime!=null">
        end_time,
      </if>
      <if test="list[0].createdAt!=null">
        created_at,
      </if>
    </trim>
     values 
    <foreach collection="list" index="index" item="item" separator=",">
      <trim prefix=" (" suffix=")" suffixOverrides=",">
        <if test="item.id!=null">
          #{item.id,jdbcType=INTEGER},
        </if>
        <if test="item.taskId!=null">
          #{item.taskId,jdbcType=INTEGER},
        </if>
        <if test="item.url!=null">
          #{item.url,jdbcType=VARCHAR},
        </if>
        <if test="item.resultSize!=null">
          #{item.resultSize,jdbcType=INTEGER},
        </if>
        <if test="item.startTime!=null">
          #{item.startTime,jdbcType=TIMESTAMP},
        </if>
        <if test="item.endTime!=null">
          #{item.endTime,jdbcType=TIMESTAMP},
        </if>
        <if test="item.createdAt!=null">
          #{item.createdAt,jdbcType=TIMESTAMP},
        </if>
      </trim>
    </foreach>
  </insert>
  <update id="updateBatchByPrimaryKeySelective" parameterType="java.util.List">
    <foreach collection="list" index="index" item="item" separator=";">
      update task_detail
      <set>
        <if test="item.taskId!=null">
          task_id=#{item.taskId,jdbcType=INTEGER},
        </if>
        <if test="item.url!=null">
          url=#{item.url,jdbcType=VARCHAR},
        </if>
        <if test="item.resultSize!=null">
          result_size=#{item.resultSize,jdbcType=INTEGER},
        </if>
        <if test="item.startTime!=null">
          start_time=#{item.startTime,jdbcType=TIMESTAMP},
        </if>
        <if test="item.endTime!=null">
          end_time=#{item.endTime,jdbcType=TIMESTAMP},
        </if>
        <if test="item.createdAt!=null">
          created_at=#{item.createdAt,jdbcType=TIMESTAMP},
        </if>
      </set>
      where 
      id = #{item.id,jdbcType=INTEGER}
    </foreach>
  </update>
</mapper>